.bg-custom-2 {
   background-image: linear-gradient(15deg, #e49ed1 0%, #e9de64 100%);
 }

 body {
		padding-top: 20px;
 }

.navbar-nav .dropdown-menu {
	border-radius: 13px !important;
}
.navbar{
  margin-bottom: 20px;
}
.navbar .ml-auto li{
	margin-right: 6px;
}

.nav-link ,.navbar-brand{
  color: #680d7a !important; 
}

.nav-link:hover{
  text-shadow: 0px 0px 1px #4e075c;
}
.dropdown-item {
	color: #69137a !important;
}

.t-color{
  color: #4e075c !important;
}

.whats-new {
	float: right;
  border: #69137a 1px solid;
  color: #4e075c !important;
  border-radius: 13px !important;
}

.home-image{
	width:350px;
	height:480px;
  background-color: red;
  border-radius: 13px !important;
}

.title{
	align-content: center;
	font-size: 2vw;
}

.col-md{
	margin: 10px;
	/* background-color: green; */
}
p{
	letter-spacing: 1px;
}

.carousel{
  margin-bottom: 10px;
}

 .carousel-inner, .w-100
{
  border-radius: 5px !important;
}

.w-100 {
  width: 100% !important;
  height: 50vh; 
  object-fit: fill;
}

.md-form input.form-control[type=text]:focus:not([readonly]) {
  border-color: 2px solid #ce93d8;
  box-shadow: 0 2px 0 0 #ce93d8;
}

.card{
  margin-top:10px;
  border: #69137a 1px solid;
  color: #4e075c !important;
  border-radius: 13px !important;
  margin-bottom: 30px;
}
